.navbar-brand 

{

font-family: 'Lobster';
font-color: white;
font-size: 23px;}

}

.navbar-brand:hover,
.navbar-brand:focus 

{
 text-decoration: none;
 font-size: 1500%;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















